https://leetcode.com/problems/actors-and-directors-who-cooperated-at-least-three-times/

In [ ]:
SELECT 
    actor_id, 
    director_id
FROM ActorDirector
GROUP BY actor_id, director_id
HAVING COUNT(*) >= 3;

In [ ]:
import pandas as pd

def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    result = (
        actor_director
        .groupby(['actor_id', 'director_id'])
        .size()
        .reset_index(name='count')
        .query('count >= 3')[['actor_id', 'director_id']]
    )
    return result

https://leetcode.com/problems/fix-names-in-a-table/

In [ ]:
SELECT 
    user_id,
    CONCAT(UPPER(LEFT(name, 1)), LOWER(SUBSTRING(name, 2))) AS name
FROM Users
ORDER BY user_id;

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str.capitalize()
    return users.sort_values('user_id')[['user_id', 'name']]

https://leetcode.com/problems/combine-two-tables/

In [ ]:
SELECT 
    p.firstName,
    p.lastName,
    a.city,
    a.state
FROM Person p
LEFT JOIN Address a
ON p.personId = a.personId;

In [ ]:
import pandas as pd

def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:
    result = person.merge(address, on='personId', how='left')[['firstName', 'lastName', 'city', 'state']]
    return result

https://leetcode.com/problems/second-highest-salary/

In [ ]:
SELECT 
    (
        SELECT DISTINCT salary
        FROM Employee
        ORDER BY salary DESC
        LIMIT 1 OFFSET 1
    ) AS SecondHighestSalary;

In [ ]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    unique_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False)
    
    if len(unique_salaries) >= 2:
        second_highest = unique_salaries.iloc[1]
    else:
        second_highest = None

    return pd.DataFrame({'SecondHighestSalary': [second_highest]})

https://leetcode.com/problems/list-the-products-ordered-in-a-period/

In [ ]:
# Write your MySQL query statement below
SELECT 
    p.product_name,
    SUM(o.unit) AS unit
FROM Products p
JOIN Orders o
    ON p.product_id = o.product_id
WHERE YEAR(o.order_date) = 2020 
  AND MONTH(o.order_date) = 2
GROUP BY p.product_id, p.product_name
HAVING SUM(o.unit) >= 100;

In [ ]:
import pandas as pd

def list_products(products: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    
    orders['order_date'] = pd.to_datetime(orders['order_date'])
    
    feb_orders = orders[
        (orders['order_date'].dt.year == 2020) & 
        (orders['order_date'].dt.month == 2)
    ]
    
    feb_units = feb_orders.groupby('product_id', as_index=False)['unit'].sum()
    
    feb_units = feb_units[feb_units['unit'] >= 100]
    
    result = feb_units.merge(products, on='product_id')[['product_name', 'unit']]
    
    return result

https://leetcode.com/problems/replace-employee-id-with-the-unique-identifier/

In [ ]:
SELECT 
    eu.unique_id,
    e.name
FROM Employees e
LEFT JOIN EmployeeUNI eu
ON e.id = eu.id;

In [ ]:
import pandas as pd

def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    result = employees.merge(employee_uni, on='id', how='left')[['unique_id', 'name']]
    return result

https://leetcode.com/problems/game-play-analysis-iv/

https://leetcode.com/problems/project-employees-i/

https://leetcode.com/problems/department-top-three-salaries/